

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("images/resBack.jpg");
    background-repeat: none;
    background-size: cover;
    color: white;
}

html body{
    height: 100vh;
    font-family: Helvetica, sans-serif, Candara;

}

h1, h2{
    text-align: center;
    font-family: 'Lobster', cursive, Arial, Helvetica, sans-serif;
    font-size: 80px;
}

h2 {
    font-size: 35px;
}


/* Nav elements */
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    padding-top: 20px;
}


button{
    margin: 0;
    height: 40px;
    width: 100px;
    background-color: transparent;
    border-style: none;
    color: white;
    font-weight: 600;
    font-size: 1.4em;
}

button:hover{
    font-size: 1.75em;
}

/* Basic layout */
#content{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Basic background layer */
.container{
    z-index: 1; 
    position: relative;
    display: block;
    margin-top: 30px;
    min-height: 700px;
    width: 60%;
}

.container:after{
    background-color: black;
    position: absolute;
    opacity: .8;
    z-index: -1;
    content: '';
    top: 0;
    height: 100%;
    width: 100%;
}


/* HomePage - Intro area */


.intro-container h1{
    margin: 20px;
    padding-top: 100px;
    padding-bottom: 90px;
}

.intro-container p{
    text-align: center;
    margin: 30px;
    padding: 0 150px;
}

/* End of styles for homepage */


/* Start of styles for menu items */

.food-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-holder{
    width: 400px;
    margin: 50px;
    text-align: center;
}

.item-holder h2 {
    margin-bottom: 10px;
}
/* End of styles for menu items */


/* Styles for about us */

.about-holder h1{
    margin: 20px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.hours{
    text-align: center;
}

.contact{
    padding-top: 50px;
    text-align: center;
}

.about-holder h2{
    padding-bottom: 20px;
}
